bin/
obj/
.vs/
.vscode/
.DS_Store
Thumbs.db
Platforms/**/bin/
Platforms/**/obj/
*.pfx
*.snk
*.keystore
*.jks
*.keystore.properties
google-services.json
GoogleService-Info.plist
**/packages/
*.nupkg
project.lock.json
artifacts/
